.single{
    &-sticky{
      top : 120px;
      margin-bottom: 150px;
    }
    .post{
      &-excerpt{
        text-align: center;
        margin-top: 30px;
        padding: 0 10px;
        font-family: $raleway-regular;
        font-size: 24px;
        text-transform: uppercase;
      }
      &-read-time{
        border-bottom: 2px solid #b2b2b2;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 12px;
        font-family: $raleway-semibold;
        .fa{
          transform: rotate(99deg);
        }
      }
      &-copyright {
        float: right;
      }
      //.post-content
      &-content{
        text-align: left;
        padding: 20px 0;
        font-family: $playfair-regular;
        h2, h3, h5, h6{
          font-family: $raleway-medium;
          color: $af-black;
          text-transform: uppercase;
        }
        h1, .h1, h2, .h2, h3, .h3{
          margin-top: 25px;
          margin-bottom: 10px;
          font-size: 24px;
          line-height: 30px;
          color: $af-black;
          font-family: $raleway-bold;
          text-transform: none;
        }
        img{
          margin-bottom: 10px;
          object-fit: cover;
          width: 100%;
          height: auto;
          &.pull-left{
            //TODO: add styles to pull left images out of the container
          }
          &.pull-right{
            //TODO: add styles to pull right images out of the container
          }
        }
        a{
          text-decoration: underline;
          text-decoration-color: #0062e6;
          word-break: break-word;
          &, &:hover{
            color: $af-blue;
          }
        }
      }
      
    }
    
  }
  @media screen and (max-width : $medium-width){
    .single{
      &-sticky{
        top: 0;
        margin-bottom: 20px;
      }
    }
  }