// -----------------------------------------------------------------------------
// This file contains all styles related to the instgram shortcode
// -----------------------------------------------------------------------------
.instagram {
    font-family: $raleway-regular;
    font-size: 16px;
    &_logo {
        width: 18px;
    }
}   