
@font-face {
    font-family: 'Raleway-Regular';
    src: url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-Regular.ttf');
   // src: url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Regular.eot') format('embedded-opentype'),
     //    url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
       //  url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype'),
         //url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-Medium.ttf');
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-Bold.ttf');
   // src: url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Bold.eot') format('embedded-opentype'),
     //    url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
       //  url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype'),
        // url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../../../../afcore/assets/stylesheets/fonts/playfair-display/PlayfairDisplay-Regular.ttf');
   // src: url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Regular.eot') format('embedded-opentype'),
     //    url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
       //  url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype'),
         //url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
}
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../../../../afcore/assets/stylesheets/fonts/playfair-display/PlayfairDisplay-Bold.ttf');
   // src: url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Bold.eot') format('embedded-opentype'),
     //    url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
       //  url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype'),
        // url('../../../../afcore/assets/stylesheets/fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
}
@font-face {
  font-family: 'PlayfairDisplay-Medium';
  src: url('../../../../afcore/assets/stylesheets/fonts/playfair-display/PlayfairDisplay-Medium.ttf');
 src: url('../../../../afcore/assets/stylesheets/fonts/playfair-display/PlayfairDisplay-Medium.eot') format('embedded-opentype'),
      url('../../../../afcore/assets/stylesheets/fonts/playfair-display/PlayfairDisplay-Medium.woff') format('woff'),
      url('../../../../afcore/assets/stylesheets/fonts/playfair-display/PlayfairDisplay-Medium.woff2') format('woff2'),
      url('../../../../afcore/assets/stylesheets/fonts/playfair-display/PlayfairDisplay-Medium.svg#SourceSansPro-Bold') format('svg');
}
@font-face {
  font-family: 'PlayfairDisplay-MediumItalic';
  src: url('../../../../afcore/assets/stylesheets/fonts/playfair-display/PlayfairDisplay-MediumItalic.ttf');
}
@font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url('../../../../afcore/assets/stylesheets/fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf');
    src: url('../../../../afcore/assets/stylesheets/fonts/DMSerifDisplay/DMSerifDisplay-Regular.eot') format('embedded-opentype'),
         url('../../../../afcore/assets/stylesheets/fonts/DMSerifDisplay/DMSerifDisplay-Regular.woff') format('woff'),
         url('../../../../afcore/assets/stylesheets/fonts/DMSerifDisplay/DMSerifDisplay-Regular.woff2') format('woff2'),
         url('../../../../afcore/assets/stylesheets/fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf') format('truetype'),
         url('../../../../afcore/assets/stylesheets/fonts/DMSerifDisplay/DMSerifDisplay-Regular.svg') format('svg');
}
@font-face {
  font-family: 'Raleway-Black';
  src: url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-Black/Raleway-Black.ttf') format('truetype'),
       url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-Black/Raleway-Black.eot') format('embedded-opentype'),
       url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-Black/Raleway-Black.woff') format('woff'),
       url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-Black/Raleway-Black.woff2') format('woff2'),
       url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-Black/Raleway-Black.svg')format('svg');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-SemiBold.ttf') format('truetype'),
       url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-SemiBold.eot') format('embedded-opentype'),
       url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-SemiBold.woff') format('woff'),
       url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
       url('../../../../afcore/assets/stylesheets/fonts/raleway/Raleway-SemiBold.svg')format('svg');
}